# Personal data file - DO NOT COMMIT
my_cards.csv
my_tags.json
notification_settings.json
*.lock

# Python cache files
__pycache__/
*.pyc
.venv/
frontend/node_modules/
frontend/dist/

# Streamlit config (good practice)
.streamlit/

# env file
.env

#backup
backups/
